<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 调度工厂scheduler -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>

    <!-- 调度管理器QuartzManager -->
    <bean class="com.mirana.frame.quartz.QuartzManager">
        <property name="scheduler" ref="scheduler"></property>
    </bean>

</beans>